<!--
    ioBroker.vis splitsys Widget-Set
    version: "0.1.5"
    Copyright 2018 nisiode<nisio.air@mail.com>
    forked by Pix (7/2018) (Humidty, shutter)

-->

<!-- here you can include so many css as you want -->

<link rel="stylesheet" href="widgets/splitsys/css/jquery.ibutton.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/splitsys/js/splitsys.js"></script>



<script id="tplSplitRemote"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplMaListLight" style="position: relative; text-align: initial;padding: 4px ">
				<div class="vis-widget_prev " style="width: 100px; height: 100px; padding:2px; background-color: #212121" > 
					<img src="widgets/splitsys/img/light_light_dim_100.png" style="width: 100px; height: 100px;"></div></div>'
        data-vis-attrs="title/text;oid/id;subtitle/text;oid_2/id;"
        data-vis-set="splitsys"
        data-vis-type="val"
        data-vis-name="Remote">
		<div class="vis-widget <%== this.data.attr('class') %> " id="<%= this.data.attr('wid') %>" >
			<div class="vis-widget-body" >
			<div class="back">
					
				<div>
				<div class="md-list-title mdui-title" >
						<%= this.data.attr('title') %>
					</div>
<input type="checkbox" class="tgl tgl-skewed" name="<%= this.data.attr('wid') %>_checkbox2" id="<%= this.data.attr('wid') %>_checkbox2" data-oid_2="<%= this.data.attr('oid_2') %>" />
<label class="tgl-btn" data-tg-off="Off" data-tg-on="On" for="<%= this.data.attr('wid') %>_checkbox2"><label>
			   </div>
				<div>
				<div class="md-list-subtitle mdui-subtitle">
						<%= this.data.attr('subtitle') %>
					</div>
<input type="checkbox" class="tgl tgl-flip" name="<%= this.data.attr('wid') %>_checkbox" id="<%= this.data.attr('wid') %>_checkbox" data-oid="<%= this.data.attr('oid') %>" />
<label class="tgl-btn" data-tg-off="Off" data-tg-on="On" for="<%= this.data.attr('wid') %>_checkbox"><label>
			   </div>				
				
				
			  </div>	
			</div>
		</div>
		<% vis.binds.splitsys.tplSplitRem(this.data.wid, this.view, this.data);  %>
</script>
